

.board {
  border: 2px solid var(--highlight);
  border-radius: 5px;
  max-width: min-content;
}

.row {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.egginfo {
  font-size: 1.3rem;
  margin-top: 0.75rem;
}

.restart {
  margin: 0 auto 1.3rem;
  box-shadow: 0 0 0.625rem 0 var(--highlight);
}